<div class="row top-menu">
	<div class="col-md-9 image">
		<img class="top-menu-image" src="/static/dbc_sl.png" alt="Dancing Bones: Simply Living">
	</div>
	<div class="col-md-3 text-right padding-top padding-bottom">
		<div class="row menuLinks">
			<a href="{{url_for('showQuestions')}}">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show Questions
			</a><br>
		</div>
		<div class="row menuLinks">Click Here to Login</div>
		<div class="row menuLinks">Disconnect</div>
	</div>
</div>
<div class="row divider green">
	<div class="col-md-12"></div>
</div>
